.navbar-toggler-icon {
    color: black;
}
.navbar-toggler{
    color: black;
}


#navbar {
    background: rgba(255, 255, 255, 0.25);
    color: #b88074;
    font-size: larger;
}

#navbar-menu {
    padding-right: 10%;
}

#navbar a {
    color: inherit;
    text-decoration: inherit;
}

#navbar a:hover {
    color: #552723;
}