body {
    font-family: Book Antiqua;
    color: #b88074;
}

#pinguin-image {
    width: 100%;
    max-width: 100%;
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#firstContainer {
    font-size: larger;
    color: white;
}

#seco .col {
    height: 100%;
    margin: 5%;
}
#thirdContainer {
    width: 100%;
    background-color: #F1E6E3;
    color: #552423;
}


